/* FOOTER */
.footer {
	a {
		color: white;
		text-decoration: none;
	}

	&Navzone {
		background-color: $purple;
		border-radius: 25px;
		display: grid;
		// 'gap' en vw en lugar de % porque si no, se rompe el navzone (la caja de 'Quiz' hace 'underflow' fuera del Grid):
		gap: 5vw;
		padding: 5vw;
		// LAS 4 CAJAS (cada una contiene: una imagen en un link, y un texto en un link):
		&-Boxes {
			display: flex;
			flex-direction: column;
			align-items: center;
			// LOS LINKS DE IMÁGENES:
			&--ImgLinks {
				border-radius: 25px;
				@include bxshdw(4px);
				@include transitionMulti((box-shadow, scale), 0.25s);
				&:hover {
					@include bxshdw(8px);
					scale: 1.025;
				}
				&:active {
					scale: 0.975;
				}
				// Las imágenes:
				img {
					border-radius: 25px;
					max-width: 100%;
					// Para que el logo de WACK se estire verticalmente y rellene por completo el eje Y de su link contenedor:
					height: 100%;
				}
			}
			// LOS LINKS DE TEXTO:
			&--TxtLinks {
				background-color: black;
				border-radius: 25px;
				margin-top: 1.5%;
				padding: 15px;
				@include bxshdw(1.5px);
				@include transitionMulti(
					(box-shadow, color, font-weight, scale),
					0.25s
				);
				&:hover {
					@include bxshdw(3px);
					color: $purple;
					font-weight: bolder;
					scale: 1.05;
				}
				&:active {
					scale: 0.95;
				}
			}
		}

		// CADA CAJA EN ESPECÍFICO (no las anidé dentro de '&-Boxes' como lo hice en _index.scss - dentro de 'iframe' - porque en general esta grilla - .footerNavzone - es más compleja - con ajustes 'hacky' de height/width, flexbox, e incluso una subgrilla  - que la de index.html - 4 iframes, sin texto ni nada del otro mundo - ):
		&-Bis--Box {
			grid-area: bis;
		}
		&-Wack--Box {
			grid-area: wack;
			/* Lo que sigue es un arreglo algo 'hacky' ('a lo bruto') de la propiedad 'height', pero es para salir del paso y que las dos imágenes (BiS y WACK) queden similares en alto; es una solución rápida al problema de que la imagen de WACK salió casi 40px (en escritorio) más pequeña que la de BiS (su contigua a la izquierda). height: 88.61% */
			&---ImgLink {
				height: 88.61%;
				background-color: white;

				//	FAVOR IGNORAR LA SIGUIENTE 'TABLA':

				//	TABLET		576px			834px
				//	height: 	75.845%; 	81.375%;
				//	------------------------------------------------
				//	DESKTOP		835px			1440px		MiPC			1920px
				//	height: 	78.785%;	84.073%;	84.596%;	86.195%;
			}
		}
		&-OtrosGrupos--Box {
			grid-area: otrosGrupos;
			// Esta es la única caja que tiene más de 1 imagen (4, para ser exactos), por lo que toca aplicarle display:grid al link que las envuelve:
			&---ImgLink {
				// Para cubrir el espacio formado por los border-radius de las imágenes (aquellos que convergen en el centro de esta sub-grilla), y así no contraste con la box-shadow aplicada:
				background-color: $black-transparent;
				display: grid;
				grid-template-areas:
					"bisBikini			bellringPlaya"
					"babymetalFuego	atarashiiGakkoFormacion";
				// Las 4 imágenes de esta sub-grilla (declaración de grid-areas):
				#OtrosGruposImg {
					&-bisBikini {
						grid-area: bisBikini;
					}
					&-bellringPlaya {
						grid-area: bellringPlaya;
					}
					&-babymetalFuego {
						grid-area: babymetalFuego;
					}
					&-atarashiiGakkoFormacion {
						grid-area: atarashiiGakkoFormacion;
					}
				}
			}
		}
		&-Quiz--Box {
			grid-area: quiz;
			&---ImgLink {
				width: 100%;
				display: flex;
				justify-content: center;
				/* Lo siguiente es para que la imagen en cuestión no quede gigante y se encasille en su celda grid (es la única imagen cuadrada en todo el Navzone). width: 56.25% */
				img {
					width: 56.25%;
				}
			}
		}
	}
	&DatosPersonales {
		display: grid;
		&-Texto {
			grid-area: textoDP;
			// Lo siguiente es para no usar el delimitador '!' seguido de la palabra clave 'importante' en inglés (soy así de críptico para que esto no aparezca en el buscador de VS Code):
			&--Curiosidades[id] {
				list-style: disc;
			}
			&--EmailYUbicacion {
				font-style: italic;
				#emailAddress {
					animation: parpadeo 1s ease-in-out infinite alternate;
					@keyframes parpadeo {
						from {
							font-weight: lighter;
						}
						to {
							font-weight: bolder;
						}
					}
					&::after {
						content: " Dirección de e-mail: dvillarroela@pm.me";
						vertical-align: middle;
						transition: font-size 0.5s;
						font-size: 0px;
					}
				}
			}
		}
		&-FotoPersonal {
			grid-area: fotoDP;
			max-width: 100%;
			// Para hacer que mi foto sea redonda, 'border-radius:25px' no es la solución; por tanto, subí los pixeles:
			border-radius: 250px;
		}
		// UNA CAJA QUE ENCIERRA A LOS LINKS DE LOS LOGOS SOCIALES:
		&-IconosSociales {
			grid-area: socialDP;
			display: flex;
			justify-content: space-around;
			// LOS 2 LOGOS:
			&--Links---Logos {
				max-width: 100%;
				transition: scale 0.25s;
				&:hover {
					scale: 1.1;
				}
				&:active {
					scale: 0.95;
				}
			}
		}
	}
	&Derechos {
		background-color: $purple;
		border-radius: 25px;
		display: block;
		padding: 0.5% 7.5%;
		text-align: center;
	}

	// Botón para 'Volver al principio de la página', en la esquina inferior derecha (se trata de una caja que encierra a un link, el cual a su vez envuelve a una imagen en su interior):
	#goToTopBox {
		position: fixed;
		inset: auto 10px 10px auto;
		z-index: 10;
		transform-origin: bottom right;
		// Para que simultáneamente haya (1) transición - al hacer :hover - de 'scale', y (2) animación - infinita - de 'rotate:y' (se genera un conflicto al usar 'transform-origin: bottom right', me imagino que porque el tipo de animación de ambas propiedades - 'rotate' y 'scale' - es 'transform'), toca aplicar la transición y la animación a distintos niveles del elemento:
		// transición 'scale' a la caja:hover...
		@include transitionMulti((filter, scale), 0.5s);
		&:hover {
			filter: invert(1);
			scale: 1.25;
		}
		// ...y animación 'rotate:y' a la imagen dentro de la caja ('linear' para velocidad constante, y 'alternate' me sirvió como hack para que no tuviera saltos la animación al terminar):
		&-Link--Img {
			animation: rotacion 4s linear infinite alternate;
			@keyframes rotacion {
				from {
					rotate: y 0deg;
				}
				to {
					rotate: y 180deg;
				}
			}
		}
	}
	// Para que no se vea el video hero en el footer de index.html (específicamente, en la sección de 'Datos Personales'):
	&Index {
		background: $purple-gradient;
	}
}

/* REGLAS @MEDIA */
/* MOBILE - upper breakpoint: 575.98px, breakpoint 'sm' de Bootstrap (originalmente 428px, ancho de pantalla de iPhone 12/13 Pro Max) - */
@media only screen and (width <= 575.98px) {
	/* Abreviación de @media only screen and (max-width: 575.98px) { */
	/* FOOTER */
	.footer {
		&Navzone {
			grid-template-areas:
				"bis"
				"wack"
				"otrosGrupos"
				"quiz";
			&-Wack--Box---ImgLink img {
				width: 100vw;
			}
		}
		&DatosPersonales {
			grid-template-areas:
				"textoDP	textoDP"
				"fotoDP		socialDP";
			grid-template-columns: 1fr 1fr;
			row-gap: 25px;
			margin: 7.5% 5%;

			&-Texto {
				font-size: 4vw;
				&--EmailYUbicacion #emailAddress:hover::after {
					font-size: 2.3vw;
				}
			}
			&-FotoPersonal {
				margin-left: 5vw;
				width: 100%;
			}
			&-IconosSociales {
				flex-direction: column;
				align-items: center;
				margin-left: 5vw;
				&--Links {
					width: 40%;
				}
			}
		}
		// Botón para 'Volver al principio de la página', en la esquina inferior derecha:
		#goToTopBox {
			width: 15vw;
		}
	}
}

/* TABLET - upper breakpoint: 834.98px (iPad Pro, versión de 11 pulgadas) - */
@media only screen and (575.98px <= width <= 834.98px) {
	/* Abreviación de @media only screen and (min-width: 575.98px) and (max-width: 834.98px) { */
	/* FOOTER */
	.footer {
		&Navzone {
			grid-template-areas:
				"bis					wack"
				"otrosGrupos	quiz";
			&-Wack--Box---ImgLink img {
				width: 50vw;
			}
		}
		&DatosPersonales {
			grid-template-areas:
				"textoDP	fotoDP"
				"textoDP	socialDP";
			grid-template-columns: 3.5fr 1.5fr;
			grid-template-rows: 2fr 1fr;
			align-items: center;
			column-gap: 75px;
			margin: 2% 5%;

			&-Texto {
				/* font-size: calc(0.5px + 2.5vw), la solución que se me ocurrió para que el texto sea medianamente responsive */
				font-size: calc(0.5px + 2.5vw);
				&--EmailYUbicacion #emailAddress:hover::after {
					font-size: 1.5vw;
				}
			}
			&-IconosSociales--Links {
				width: 40%;
			}
		}
		// Botón para 'Volver al principio de la página', en la esquina inferior derecha:
		#goToTopBox {
			width: 7.5vw;
		}
	}
}

/* DESKTOP */
@media only screen and (834.98px <= width) {
	/* Abreviación de @media only screen and (min-width: 834.98px) { */
	/* FOOTER */
	.footer {
		&Navzone {
			grid-template-areas:
				"bis					wack"
				"otrosGrupos	quiz";
			&-Boxes--TxtLinks {
				font-size: calc(15px + 1vw);
			}
			&-Wack--Box---ImgLink img {
				width: 50vw;
			}
		}
		&DatosPersonales {
			grid-template-areas:
				"textoDP	fotoDP"
				"textoDP	socialDP";
			grid-template-columns: 4fr 1fr;
			grid-template-rows: 2fr 1fr;
			align-items: center;
			column-gap: 100px;
			margin: 2% 5%;

			&-Texto {
				/* font-size: 2vw, la solución que se me ocurrió para que el texto sea medianamente responsive */
				font-size: 2vw;
				&--EmailYUbicacion #emailAddress:hover::after {
					font-size: 1.5vw;
				}
			}
			&-IconosSociales--Links {
				width: 37.5%;
			}
		}
		// Botón para 'Volver al principio de la página', en la esquina inferior derecha:
		#goToTopBox {
			width: 5vw;
		}
	}
}
