/* FOOTER */
.footer {
	&Index {
		background: linear-gradient(90deg, $purple, black, $purple);
	}
	&Navzone {
		background-color: $purple;
		display: grid;
		border-radius: 25px;
		justify-items: center;
		// LAS 4 CAJAS (cada una contiene: una imagen en un link, y un texto en un link)
		&-Boxes {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			padding: 3%;
			// LOS LINKS DE IMÁGENES
			&--ImgLinks {
				border-radius: 25px;
				box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.5);
				transition: box-shadow 0.25s, transform 0.25s;
				&:hover {
					box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.5);
					transform: scale(1.025, 1.025);
				}
				&:active {
					transform: scale(0.975, 0.975);
				}
				// Las imágenes.
				img {
					height: 100%;
					max-width: 100%;
					border-radius: 25px;
				}
			}
			// LOS LINKS DE TEXTO
			&--TxtLinks {
				background-color: black;
				padding: 15px;
				margin-top: 1.5%;
				border-radius: 25px;
				transition-property: box-shadow, color, font-weight, transform;
				transition-duration: 0.25s;
				box-shadow: 1.5px 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.5);
				&:hover {
					box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.5);
					color: $purple;
					font-weight: 900;
					transform: scale(1.05, 1.05);
				}
				&:active {
					transform: scale(0.95, 0.95);
				}
			}
		}

		// CADA CAJA EN ESPECÍFICO
		&-Bis--Box {
			grid-area: bis;
		}
		&-Wack--Box {
			grid-area: wack;
			/* Lo que sigue es un arreglo algo "hacky" de la propiedad "height", pero es para salir del paso y que las dos imágenes (BiS y WACK) queden similares en alto; es una solución rápida al problema de que la imagen de WACK salió casi 40px más pequeña que la de BiS (su contigua a la izquierda). height: 83.375% */
			&---ImgLink {
				height: 83.375%;
			}
		}
		&-OtrosGrupos--Box {
			grid-area: otrosGrupos;
			// Esta es la única caja que tiene más de 1 imagen (4, para ser exactos), por lo que toca aplicarle display:grid al link que las envuelve
			&---ImgLink {
				display: grid;
				grid-template-areas:
					"bisBikini			bellringPlaya"
					"babymetalFuego	atarashiiGakkoFormacion";
				background-color: rgba(0, 0, 0, 0.5);
				#OtrosGruposImg {
					&-bisBikini {
						grid-area: bisBikini;
					}
					&-bellringPlaya {
						grid-area: bellringPlaya;
					}
					&-babymetalFuego {
						grid-area: babymetalFuego;
					}
					&-atarashiiGakkoFormacion {
						grid-area: atarashiiGakkoFormacion;
					}
				}
			}
		}
		&-Quiz--Box {
			grid-area: quiz;

			&---ImgLink {
				display: flex;
				width: 100%;
				justify-content: center;
				/* Lo siguiente es para que la imagen en cuestión no quede gigante y se encasille en su celda grid (es la única imagen cuadrada en todo el Navzone). width: 56.25% */
				img {
					width: 56.25%;
				}
			}
		}
	}
	&DatosPersonales {
		display: grid;

		&-Texto {
			grid-area: textoDP;

			&--Curiosidades {
				list-style: disc !important;
			}
			&--EmailYUbicacion {
				font-style: italic;
				#emailAddress {
					@keyframes parpadeo {
						from {
							font-weight: 100;
						}
						to {
							font-weight: 900;
						}
					}
					animation: parpadeo 1s linear infinite alternate;
					&::after {
						content: " Dirección de e-mail: dvillarroela@pm.me";
						vertical-align: middle;
						transition: font-size 0.5s;
						font-size: 0px;
					}
				}
			}
		}
		&-FotoPersonal {
			grid-area: fotoDP;
			border-radius: 100%;
			max-width: 100%;
		}
		// UNA CAJA QUE ENCIERRA A LOS ENLACES DE LOS LOGOS SOCIALES
		&-IconosSociales {
			grid-area: socialDP;
			display: flex;
			justify-content: space-around;
			// LOS 2 LOGOS
			&--Links---Logos {
				max-width: 100%;
				transition: transform 0.25s;
				&:hover {
					transform: scale(1.1, 1.1);
				}
				&:active {
					transform: scale(0.95, 0.95);
				}
			}
		}
	}
	&Derechos {
		background-color: $purple;
		text-align: center;
		display: block;
		border-radius: 25px;
		padding: 0.5% 7.5%;
	}

	// Hack para botón "Volver al principio de la página", en la esquina inferior derecha
	#top {
		visibility: hidden;
		position: absolute;
		top: 0;
	}
	// SE TRATA DE UNA CAJA QUE ENCIERRA A UN ENLACE, EL CUAL A SU VEZ ENVUELVE A UNA IMAGEN EN SU INTERIOR. PARA QUE SIMULTÁNEAMENTE HAYA (1) TRANSICIÓN - al hacer :hover - DE transform:scale, Y (2) ANIMACIÓN - infinita - DE transform:rotateY  (se genera un conflicto, me imagino que porque ambos usan 'transform'), TOCA APLICAR LA TRANSICIÓN Y LA ANIMACIÓN A DISTINTOS NIVELES DEL ELEMENTO:
	// transición transform:scale a la caja...
	#goToTopBox {
		position: fixed;
		bottom: 10px;
		right: 10px;
		transition: transform 0.5s, filter 0.5s;
		&:hover {
			transform: scale(1.25, 1.25) translate(-10px, -10px);
			filter: invert(1);
		}
		// ...y animación transform:rotateY a la imagen
		&-Link--Img {
			width: 100%;
			animation: rotacion 4s linear infinite alternate;
			@keyframes rotacion {
				from {
					transform: rotateY(0deg);
				}
				to {
					transform: rotateY(180deg);
				}
			}
		}
	}
}

/* REGLAS @MEDIA - a max-width (upper breakpoint), sumar 1px para que al inspeccionar la página en modo Responsive, no haya "px sin cubrir" ("tierra de nadie", le digo yo) por los @media queries al ajustar el tamaño de la pantalla */
/* MOBILE - upper breakpoint: 428px (iPhone 12/13 Pro Max) - */
@media only screen and (width <= 429px) {
	/* Abreviación de @media only screen and (max-width: 429px) { */
	/* FOOTER */
	.footer {
		&Navzone {
			grid-template-areas:
				"bis"
				"wack"
				"otrosGrupos"
				"quiz";
		}
		&DatosPersonales {
			grid-template-areas:
				"textoDP	textoDP"
				"fotoDP		socialDP";
			grid-template-columns: 1fr 1fr;
			row-gap: 25px;
			margin: 7.5% 5%;

			&-Texto {
				&--EmailYUbicacion {
					#emailAddress:hover::after {
						font-size: 2.3vw;
					}
				}
			}
			&-FotoPersonal {
				width: 100%;
				margin-left: 5vw;
			}
			&-IconosSociales {
				flex-direction: column;
				align-items: center;
				margin-left: 5vw;
				&--Links {
					width: 37.5%;
				}
			}
		}
		// Hack para botón "Volver al principio de la página", en la esquina inferior derecha
		#goToTopBox {
			width: 20vw;
		}
	}
}

/* TABLET - upper breakpoint: 834px (iPad Pro, versión de 11 pulgadas) - */
@media only screen and (430px <= width <= 835px) {
	/* Abreviación de @media only screen and (min-width: 430px) and (max-width: 835px) { */
	/* FOOTER */
	.footer {
		&Navzone {
			grid-template-areas:
				"bis					wack"
				"otrosGrupos	quiz";
		}
		&DatosPersonales {
			grid-template-areas:
				"textoDP	fotoDP"
				"textoDP	socialDP";
			grid-template-columns: 3.5fr 1.5fr;
			grid-template-rows: 2fr 1fr;
			align-items: center;
			margin: 2% 5%;
			column-gap: 75px;

			&-Texto {
				/* font-size: calc(0.5px + 2.5vw), la solución que se me ocurrió para que el texto sea medianamente responsive */
				font-size: calc(0.5px + 2.5vw);
				&--EmailYUbicacion {
					#emailAddress:hover::after {
						font-size: 1.9vw;
					}
				}
			}
			&-IconosSociales {
				align-self: flex-start;
				&--Links {
					margin-top: 5%;
					width: 35%;
				}
			}
		}
		// Hack para botón "Volver al principio de la página", en la esquina inferior derecha
		#goToTopBox {
			width: 10vw;
		}
	}
}

/* DESKTOP */
@media only screen and (836px <= width) {
	/* Abreviación de @media only screen and (min-width:836px) { */
	/* FOOTER */
	.footer {
		&Navzone {
			grid-template-areas:
				"bis					wack"
				"otrosGrupos	quiz";
			&-Boxes--TxtLinks {
				font-size: calc(15px + 1vw);
			}
		}
		&DatosPersonales {
			grid-template-areas:
				"textoDP	fotoDP"
				"textoDP	socialDP";
			grid-template-columns: 4fr 1fr;
			grid-template-rows: 2fr 1fr;
			column-gap: 100px;
			align-items: center;
			margin: 2% 5%;

			&-Texto {
				/* font-size: 2vw, la solución que se me ocurrió para que el texto sea medianamente responsive */
				font-size: 2vw;
				&--EmailYUbicacion {
					#emailAddress:hover::after {
						font-size: 1.5vw;
					}
				}
			}
			&-IconosSociales--Links {
				width: 37.5%;
			}
		}
		// Hack para botón "Volver al principio de la página", en la esquina inferior derecha
		#goToTopBox {
			width: 5vw;
		}
	}
}
