/* HEADER */
.header {
	background-color: $purple;
	display: flex;
	justify-content: space-between;
	// Por alguna razón, queriendo configurarlo como 'fixed', el header me tapa parte de la portada, por lo que me veo en la obligación de setearlo como 'sticky', ya que no sé cómo resolver ese problema de otro modo.
	&:not(.headerIndex) {
		position: sticky;
	}
	// Sin embargo, dado que al desplegar el menú hamburguesa en Mobile se mostraba un espacio en blanco bajo el video hero, decidí aplicar position:fixed sólo para el header de Index, y así solucionar esta situación de una forma medianamente armónica con el resto de los estilos de index.html.
	&.headerIndex {
		position: fixed;
	}
	top: 0px;
	z-index: 10;
	padding: 1.5%;
	border: solid black thin;
	box-shadow: 1.5px 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.5);
	border-radius: 0 0 25px 25px;
	width: 100%;

	&TituloPrincipal {
		text-align: center;
		font-family: "Montagu Slab", serif;
		transition: transform 0.15s;
		font-variant: small-caps;
		&-Titulo {
			font-weight: bolder;
			&:hover {
				transform: scale(1.025, 1.025);
			}
			&:active {
				transform: scale(0.975, 0.975);
			}
		}
		&-Slogan {
			font-style: italic;
		}
	}
	&Navbar {
		display: flex;

		&-List {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			padding-left: 0;
			.nav-item {
				transition: font-weight 0.75s, transform 0.25s, font-size 0.25s;
				&:hover {
					font-weight: 900;
				}
				.nav-link.active {
					font-weight: bold;
				}
			}
		}
	}
}

/* REGLAS @MEDIA */
/* MOBILE - upper breakpoint: 575.98px, breakpoint 'sm' de Bootstrap (originalmente 428px, ancho de pantalla de iPhone 12/13 Pro Max) - */
@media only screen and (width <= 575.98px) {
	/* Abreviación de @media only screen and (max-width: 575.98px) { */
	/* HEADER */
	.header {
		flex-direction: column;
		@include paddingY(2vw);
		&TituloPrincipal {
			&-Titulo {
				font-size: 7.5vw;
			}
			&-Slogan {
				font-size: 4vw;
			}
		}

		&Navbar-List {
			width: 100%;
			justify-content: space-around;
			margin-bottom: 8px;
			.nav-item {
				font-size: 5.5vw;
				&:not(:last-child) {
					border-bottom: 1px solid rgba(255, 255, 255, 0.5);
				}
				&:hover {
					font-size: 6vw;
				}
				&:active {
					font-size: 5vw;
				}
			}
		}
	}
}

/* TABLET - upper breakpoint: 834.98px (iPad Pro, versión de 11 pulgadas) - */
@media only screen and (575.98px <= width <= 834.98px) {
	/* Abreviación de @media only screen and (min-width: 575.98px) and (max-width: 834.98px) { */
	/* HEADER */
	.header {
		&TituloPrincipal {
			margin-bottom: 0;

			&-Titulo {
				font-size: 4vw;
			}
			&-Slogan {
				font-size: 2vw;
				width: 35%;
			}
		}
		&Navbar-List {
			width: 50%;
			justify-content: center;
			margin-bottom: 0;
			.nav-item {
				margin: 0;
				font-size: 2.5vw;
				&:active {
					transform: scale(0.9, 0.9);
				}
				.nav-link {
					@include paddingY(0);
				}
			}
		}
	}
}

/* DESKTOP */
@media only screen and (834.98px <= width) {
	/* Abreviación de @media only screen and (min-width: 834.98px) { */
	/* HEADER */
	.header {
		height: 10vw;
		&TituloPrincipal {
			&-Titulo {
				font-size: 3.5vw;
			}
			&-Slogan {
				font-size: 2vw;
				width: 35%;
			}
		}

		&Navbar-List {
			width: 60%;
			justify-content: center;
			margin-bottom: 0;
			.nav-item {
				font-size: 1.7vw;
				&:active {
					transform: scale(0.9, 0.9);
				}
			}
		}
	}
}
