/* HEADER */
.header {
	background-color: $purple;
	border: solid black thin;
	border-radius: 0 0 25px 25px;
	display: flex;
	justify-content: space-between;
	top: 0px;
	width: 100%;
	z-index: 10;
	@include bxshdw(2px);
	@include paddingX(1%);
	&Navbar {
		display: flex;
		&-TituloPrincipal {
			font-family: "Montagu Slab", serif;
			font-variant-caps: small-caps;
			text-align: center;
			transition: scale 0.15s;
			&--Titulo {
				font-weight: bolder;
				&:hover {
					scale: 1.025;
				}
				&:active {
					scale: 0.975;
				}
			}
			&--Slogan {
				font-style: italic;
			}
		}
		&-List {
			display: flex;
			flex-wrap: wrap;
			padding-left: 0;
			width: 100%;
			.nav-item {
				@include transitionMulti((font-size, font-weight, scale), 0.5s);
				&:hover {
					font-weight: 900;
				}
				// Cuando me encuentre en cierta página del sitio, que su link en el Navbar se muestre en negrita ('página actual'):
				.nav-link.active {
					font-weight: bold;
				}
			}
		}
	}

	// Por alguna razón, queriendo configurarlo como 'fixed', el header me tapa parte de la portada, por lo que me veo en la obligación de setearlo como 'sticky' (SÓLO para headers de las 'pages' - es decir, excluyendo a index.html -; se explica en el siguiente comentario), ya que no sé cómo resolver este problema de otro modo.
	&:not(&Index) {
		position: sticky;
	}
	// Sin embargo, dado que al desplegar el menú hamburguesa en Mobile se mostraba un espacio en blanco bajo el video hero, decidí aplicar 'position:fixed' sólo para el header de index.html, y así solucionar esta situación de una forma medianamente armónica con el resto de los estilos.
	&Index {
		position: fixed;
	}
}

/* REGLAS @MEDIA */
/* MOBILE - upper breakpoint: 575.98px, breakpoint 'sm' de Bootstrap (originalmente 428px, ancho de pantalla de iPhone 12/13 Pro Max) - */
@media only screen and (width <= 575.98px) {
	/* Abreviación de @media only screen and (max-width: 575.98px) { */
	/* HEADER */
	.header {
		flex-direction: column;
		&Navbar {
			&-TituloPrincipal {
				&--Titulo {
					font-size: 7.5vw;
				}
				&--Slogan {
					font-size: 4vw;
				}
			}
			&-List {
				justify-content: space-around;
				margin-bottom: 8px;
				width: 100%;
				.nav-item {
					font-size: 5.5vw;
					&:hover {
						font-size: 6vw;
					}
					&:active {
						font-size: 5vw;
					}
					// Para tener líneas divisoras entre cada ítems/links del Navbar, poner 'border-bottom' a todas EXCEPTO al último ítem/link:
					&:not(:last-child) {
						border-bottom: 1px solid rgba(255, 255, 255, 0.5);
					}
				}
			}
		}
	}
}

/* TABLET - upper breakpoint: 834.98px (iPad Pro, versión de 11 pulgadas) - */
@media only screen and (575.98px <= width <= 834.98px) {
	/* Abreviación de @media only screen and (min-width: 575.98px) and (max-width: 834.98px) { */
	/* HEADER */
	.header {
		@include paddingY(1%);
		&Navbar {
			&-TituloPrincipal {
				margin-bottom: 0;
				&--Titulo {
					font-size: 4vw;
				}
				&--Slogan {
					font-size: 1.8vw;
					width: 35%;
				}
			}
			&-List {
				justify-content: center;
				margin-bottom: 0;
				width: 50%;
				.nav-item {
					font-size: 2.4vw;
					margin: 0;
					&:active {
						scale: 0.9;
					}
					// Ya que los links del Navbar se muestran en 2 filas/renglones, procurar que no sean filas/renglones muy 'altas'/'gruesos', quitándoles el padding vertical:
					.nav-link {
						@include paddingY(0);
					}
				}
			}
		}
	}
}

/* DESKTOP */
@media only screen and (834.98px <= width) {
	/* Abreviación de @media only screen and (min-width: 834.98px) { */
	/* HEADER */
	.header {
		&Navbar {
			&-TituloPrincipal {
				&--Titulo {
					font-size: 3.5vw;
				}
				&--Slogan {
					font-size: 2vw;
					width: 35%;
				}
			}
			&-List {
				justify-content: center;
				margin-bottom: 0;
				width: 60%;
				.nav-item {
					font-size: 1.7vw;
					&:active {
						scale: 0.9;
					}
				}
			}
		}
	}
}
