// VARIABLES:
$purple: rgb(62, 0, 143);
$purple-transparent: rgba(62, 0, 143, 0.5);

// MIXINS:
@mixin boxmodel($margin, $padding) {
	margin: $margin;
	padding: $padding;
}

@mixin vidsizes($pad, $wid: 100%, $vidh: false) {
	padding: $pad;
	width: $wid;
	@if $vidh == true {
		height: 30vw;
	}
}

/* REGLAS @FONT-FACE (familias de fuentes descargadas desde Google Fonts) */
/* "Roboto Mono" */
@font-face {
	font-family: "Roboto Mono";
	src: url(../fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf);
}
/* "Courier Prime" */
@font-face {
	font-family: "Courier Prime";
	src: url(../fonts/Courier_Prime/CourierPrime-Regular.ttf);
}

/* RESETEO DE ESTILOS */
* {
	margin: 0;
	padding: 0;
}

.body {
	background: linear-gradient(90deg, $purple, black, $purple);
	color: white;
	font-family: "Roboto Mono", monospace;
	padding: 0 5%;

	a {
		color: white;
		text-decoration: none;
		transition: 0.25s ease-in-out;
	}

	h2,
	h3,
	h4 {
		margin: 2vw 0 1vw 0;
	}

	ul {
		list-style: none;
	}

	.main {
		font-size: calc(0.7rem + 1vw);
		text-align: justify;
		a {
			font-weight: bold;
			&:hover {
				color: black;
				font-weight: 900;
				transition: all 0.25s ease-in-out;
			}
		}
	}
}

/* FIN DEL RESETEO DE ESTILOS */
/* FIN DEL RESETEO DE ESTILOS */
/* FIN DEL RESETEO DE ESTILOS */
