/* PORTADA - bis.html */
.portadaBis {
	.carousel-item {
		img {
			border-radius: 20px;
			height: 100%;
		}
		.carousel-caption {
			h5,
			p {
				background-color: $purple-transparent;
				padding: 2%;
				border-radius: 20px;
				opacity: 0;
				transition: opacity 0.5s;
			}
			&:hover {
				h5,
				p {
					opacity: 1;
				}
			}
		}
	}
	.carousel-control-icons {
		transition: filter 0.5s, transform 0.5s;
		&:hover {
			filter: invert(1);
			transform: scale(1.5, 1.5);
		}
	}
	.carousel-control-prev-icon {
		@extend .carousel-control-icons;
		background-image: url("../icons/flecha-Izquierda.svg");
	}
	.carousel-control-next-icon {
		@extend .carousel-control-icons;
		background-image: url("../icons/flecha-Derecha.svg");
	}
	.carousel-indicators {
		[data-bs-target] {
			transition: background-color 0.5s, transform 0.5s;
			background-color: $purple-transparent;
			&:hover {
				background-color: $purple;
				transform: scaleY(2);
			}
		}
		.active {
			background-color: $purple;
			transform: scaleY(2);
		}
	}
}
/* MAIN - bis.html */
.mainBis {
	&-Presente ul {
		list-style: square;
	}
}
/* REGLAS @MEDIA - a max-width (upper breakpoint), sumar 1px para que al inspeccionar la página en modo Responsive, no haya "px sin cubrir" ("tierra de nadie", le digo yo) por los @media queries al ajustar el tamaño de la pantalla */
/* MOBILE - upper breakpoint: 428px (iPhone 12/13 Pro Max) - */
@media only screen and (width <= 429px) {
	/* Abreviación de @media only screen and (max-width: 429px) { */
	/* PORTADA - bis.html */
	.portadaBis {
		padding: 0;
		.carousel-item {
			height: 60vw;
			.carousel-caption * {
				font-size: calc(1px + 2vw);
			}
		}
	}
	/* MAIN - bis.html */
	.mainBis {
		&-Canciones--Videos {
			height: 50vw;
			width: 100%;
		}
	}
}

/* TABLET - upper breakpoint: 834px (iPad Pro, versión de 11 pulgadas) - */
@media only screen and (430px <= width <= 835px) {
	/* Abreviación de @media only screen and (min-width: 430px) and (max-width: 835px) { */
	/* PORTADA - bis.html */
	.portadaBis {
		padding: 0 10%;
		.carousel-item {
			height: 50vw;
			.carousel-caption * {
				font-size: calc(1px + 1.8vw);
			}
		}
	}
	/* MAIN - bis.html */
	.mainBis {
		&-Canciones--Videos {
			height: 50vw;
			width: 100%;
		}
	}
}

/* DESKTOP */
@media only screen and (836px <= width) {
	/* Abreviación de @media only screen and (min-width:836px) { */
	/* PORTADA - bis.html */
	.portadaBis {
		padding: 0 25%;
		.carousel-item {
			height: 30vw;
			.carousel-caption * {
				font-size: calc(3px + 1vw);
			}
		}
	}
	/* MAIN - bis.html */
	.mainBis {
		&-Canciones--Videos {
			// Lo siguiente sólo lo hice para practicar Sass mientras veía las pregrabadas correspondientes.
			@include vidsizes(0 20%, $vidh: true);
		}
	}
}
