/* PORTADA - bis.html */
.portadaBis {
	.carousel-item {
		img {
			border-radius: 25px;
			height: 100%;
		}
		.carousel-caption {
			h5,
			p {
				background-color: $purple-transparent;
				border-radius: 25px;
				opacity: 0;
				padding: 2%;
				transition: opacity 0.5s;
			}
			// Al hacer hover en cualquier parte del caption, que se vuelvan opacos tanto su título como su descripción (cada uno por separado, en lugar de aplicarlo al caption en su conjunto):
			&:hover {
				h5,
				p {
					opacity: 1;
				}
			}
		}
	}
	.carousel-control-icons {
		// Icono de flecha (para cambiar de imagen en el carrusel); se usará el mismo icono para cambiar tanto a la imagen anterior como a la siguiente (el truco está en que rotaré la flecha hacia la izquierda/derecha, respectivamente):
		/* ***ALARMA: importante***: LA RUTA CORRECTA ES "../icons/flecha-Arriba.avif"...DA IGUAL LO QUE VS CODE, LIVE SERVER O (LO MÁS IMPORTANTE) _bis.scss DIGAN...LO ÚNICO CORRECTO ES LA RUTA DESDE EL PUNTO DE VISTA DE bis.HTML, O MEJOR DICHO, DE STYLE.CSS YA QUE ESE SERÁ EL ARCHIVO QUE RECUPERARÁ LA IMAGEN (no importa si la ruta se autocompleta o no). */
		background-image: url("../icons/flecha-Arriba.avif");
		@include transitionMulti((filter, scale), 0.5s);
		&:hover {
			filter: invert(1);
			scale: 1.5;
		}
	}
	.carousel-control-prev-icon {
		@extend .carousel-control-icons;
		// Rotar icono hacia la izquierda ('imagen anterior'):
		rotate: -90deg;
	}
	.carousel-control-next-icon {
		@extend .carousel-control-icons;
		// Rotar icono hacia la derecha ('imagen siguiente'):
		rotate: 90deg;
	}
	// Indicadores del carrusel (1 por cada imagen; indica la imagen actual, y además sirven como atajos a las demás imágenes):
	.carousel-indicators button {
		background-color: $purple;
		opacity: 0.5;
		@include transitionMulti((opacity, scale), 0.5s);
		// Hacer más altos tanto al indicador que se le haga :hover como al indicador activo ('imagen actual'):
		&:hover,
		&.active {
			@include scaleY(2);
		}
		// Además, intensificar color púrpura sólo al indicador activo:
		&.active {
			opacity: 1;
		}
	}
}
/* MAIN - bis.html */
.mainBis-Articulo {
	// A todo elemento que represente un video (sea <video> o <iframe>), se le puso la siguiente clase:
	&--Canciones---Videos {
		width: 100%;
	}
	&--Presente ul {
		list-style: square;
	}
}

/* REGLAS @MEDIA */
/* MOBILE - upper breakpoint: 575.98px, breakpoint 'sm' de Bootstrap (originalmente 428px, ancho de pantalla de iPhone 12/13 Pro Max) - */
@media only screen and (width <= 575.98px) {
	/* Abreviación de @media only screen and (max-width: 575.98px) { */
	/* PORTADA - bis.html */
	.portadaBis {
		padding: 0;
		.carousel-item {
			height: 65vw;
			// Encontré que era más breve llamar al 'h5' y al 'p' del caption con el selector universal '*' ahorrándome una línea de código adicional, pero por lo visto igual terminé desperdiciándola con este comentario...:
			.carousel-caption * {
				font-size: calc(1px + 2vw);
			}
		}
	}
	/* MAIN - bis.html */
	// A todo elemento que represente un video (sea <video> o <iframe>), se le puso la siguiente clase:
	.mainBis-Articulo--Canciones---Videos {
		height: 50vw;
	}
}

/* TABLET - upper breakpoint: 834.98px (iPad Pro, versión de 11 pulgadas) - */
@media only screen and (575.98px <= width <= 834.98px) {
	/* Abreviación de @media only screen and (min-width: 575.98px) and (max-width: 834.98px) { */
	/* PORTADA - bis.html */
	.portadaBis {
		@include paddingX(10%);
		.carousel-item {
			height: 55vw;
			// Encontré que era más breve llamar al 'h5' y al 'p' del caption con el selector universal '*' ahorrándome una línea de código adicional, pero por lo visto igual terminé desperdiciándola con este comentario...:
			.carousel-caption * {
				font-size: calc(1px + 1.8vw);
			}
		}
	}
	/* MAIN - bis.html */
	// A todo elemento que represente un video (sea <video> o <iframe>), se le puso la siguiente clase:
	.mainBis-Articulo--Canciones---Videos {
		height: 50vw;
	}
}

/* DESKTOP */
@media only screen and (834.98px <= width) {
	/* Abreviación de @media only screen and (min-width: 834.98px) { */
	/* PORTADA - bis.html */
	.portadaBis {
		@include paddingX(27.5%);
		.carousel-item {
			height: 30vw;
			// Encontré que era más breve llamar al 'h5' y al 'p' del caption con el selector universal '*' ahorrándome una línea de código adicional, pero por lo visto igual terminé desperdiciándola con este comentario...:
			.carousel-caption * {
				font-size: calc(3px + 1vw);
			}
		}
	}
	/* MAIN - bis.html */
	// A todo elemento que represente un video (sea <video> o <iframe>), se le puso la siguiente clase:
	.mainBis-Articulo--Canciones---Videos {
		height: 30vw;
		@include paddingX(20%);
	}
}
