/* PORTADA - index.html */
.portadaIndex {
	position: relative;
	.portadaIndex-Logo {
		position: absolute;
		top: 5%;
		left: 7%;
		width: 15%;
		filter: invert(1);
	}
	.portadaIndex-Imagen {
		width: 100%;
		border-radius: 20px;
	}
}

/* MAIN - index.html */
.main {
	.mainTextoLlamativo {
		// Bienvenida y Exclamación resolutiva (con background-color y small-caps)
		.mainTextoLlamativo-Bienvenida,
		.mainTextoLlamativo-Solucion {
			font-family: "Courier Prime", monospace;
			font-variant: small-caps;
			background-color: $purple;
			font-weight: 600;
			letter-spacing: 0.15vw;
			text-align: center;
			border-radius: 25px;
		}
		// Preguntas (sin background-color)
		.mainTextoLlamativo-Problema,
		.mainTextoLlamativo-Esperanza {
			text-align: center;
			font-size: calc(11px + 1vw);
		}
		.mainTextoLlamativo-DefinicionAltIdol {
			font-size: calc(11px + 1vw);
			text-align: justify;
			// Términos por definir
			#dfnAlt,
			#dfnAnti {
				font-family: "Courier Prime", monospace;
			}
		}
	}
	.mainVideos {
		display: grid;
		gap: 3%;
		.mainVideos-BisPaprika {
			grid-area: bis-Video;
		}
		.mainVideos-BellringShoujoHeartGigabite {
			grid-area: bellring-Video;
		}
		.mainVideos-BabymetalKarate {
			grid-area: babymetal-Video;
		}
		.mainVideos-AtarashiiGakkoKoiGeba {
			grid-area: atarashii-Video;
		}
	}
}

/* REGLAS @MEDIA - a max-width (upper breakpoint), sumar 1px para que al inspeccionar la página en modo Responsive, no haya "px sin cubrir" ("tierra de nadie", le digo yo) por los @media queries al ajustar el tamaño de la pantalla */
/* MOBILE - upper breakpoint: 428px (iPhone 12/13 Pro Max) - */
@media only screen and (width <= 429px) {
	/* Abreviación de @media only screen and (max-width: 429px) { */
	/* PORTADA - index.html */
	.portadaIndex {
		margin: 0.5% 0;
	}
	/* MAIN - index.html */
	.main {
		.mainTextoLlamativo {
			.mainTextoLlamativo-Bienvenida {
				font-size: calc(0.9em + 1vw);
				margin: 4% 0;
				padding: 12.5px;
			}
			.mainTextoLlamativo-Solucion {
				margin: 4% 0;
				padding: 12.5px;
			}
		}
		.mainVideos {
			grid-template-areas:
				"bis-Video"
				"bellring-Video"
				"babymetal-Video"
				"atarashii-Video";
			/* Curiosamente, en mobile este Grid Container se ve parcialmente cubierto por el siguiente (.footerNavzone tapa el figcaption de la última figura de .mainVideos), así que la solución que se me ocurrió fue ponerle estos margins que encontré aceptables para resolver el problema de la forma más armónica posible */
			margin: 12.5% 0 35% 0;
			.mainVideos-Iframes {
				/* Ajuste necesario para que los iframes de YouTube, siendo responsive, sigan mantengan su PROPORCIÓN de tamaño  */
				height: calc(50px + 50vw);
			}
		}
	}
}

/* TABLET - upper breakpoint: 834px (iPad Pro, versión de 11 pulgadas) - */
@media only screen and (430px <= width <= 835px) {
	/* Abreviación de @media only screen and (min-width: 430px) and (max-width: 835px) { */
	/* PORTADA - index.html */
	.portadaIndex {
		margin: 1% 20%;
	}
	/* MAIN - index.html */
	.main {
		.mainTextoLlamativo {
			// Aquí, yo podría "inventar" una clase, sólo para hacer @extend en Bienvenida y en Solución, contribuyendo a repetir menos líneas de código...
			.mainTextoLlamativo-Bienvenida {
				margin: 1.5% 0;
				padding: 1% 3%;
				font-size: calc(4px + 2.5vw);
			}
			.mainTextoLlamativo-Solucion {
				margin: 1.5% 0;
				padding: 1% 3%;
				font-size: calc(1rem + 0.5vw);
			}
		}
		// Grid de Iframes de YouTube
		.mainVideos {
			grid-template-areas:
				"bis-Video			bellring-Video"
				"babymetal-Video	atarashii-Video";
			margin: 5% 0;
			.mainVideos-Iframes {
				/* Ajuste necesario para que los iframes de YouTube, siendo responsive, sigan mantengan su PROPORCIÓN de tamaño  */
				height: 25vw;
			}
		}
	}
}

/* DESKTOP */
@media only screen and (836px <= width) {
	/* Abreviación de @media only screen and (min-width:836px) { */
	/* PORTADA - index.html */
	.portadaIndex {
		margin: 1% 25%;
	}
	/* MAIN - index.html */
	.main {
		.mainTextoLlamativo {
			.mTL-TxtImp,
			.mainTextoLlamativo-Bienvenida {
				@include boxmodel(1.5% 0, 1% 3%);
			}
			.mainTextoLlamativo-Solucion {
				@extend .mTL-TxtImp;
				font-size: calc(1rem + 0.5vw);
			}
		}
		// Grid de Iframes de YouTube
		.mainVideos {
			grid-template-areas:
				"bis-Video			bellring-Video"
				"babymetal-Video	atarashii-Video";
			margin: 5% 0;
			.mainVideos-Iframes {
				/* Ajuste necesario para que todos los iframes de YouTube, siendo responsive, sigan mantengan su PROPORCIÓN de tamaño  */
				height: 25vw;
			}
		}
	}
}
