/* MAIN - wack.html */
.mainWack {
	&-Articulo--Grupos {
		display: grid;
		&---Titulo {
			grid-area: titulo;
			margin: initial;
		}
		// TODOS LOS "p" Y "iframe" EN GENERAL
		p {
			text-align: justify;
		}
		iframe {
			width: 100%;
		}
		// "p" Y "iframe" EN ESPECÍFICO
		#asp {
			&-Texto {
				grid-area: asp-Texto;
			}
			&-ToxicInvasion {
				grid-area: asp-ToxicInvasion;
			}
			&-TheManCalling {
				grid-area: asp-TheManCalling;
			}
		}
		#exwhyz {
			&-Texto {
				grid-area: exwhyz-Texto;
			}
			&-Iza {
				grid-area: exwhyz-Iza;
			}
			&-FurachinaSummer {
				grid-area: exwhyz-FurachinaSummer;
			}
		}
		#gangParade {
			&-Texto {
				grid-area: gangParade-Texto;
			}
			&-Plastic2Mercy {
				grid-area: gangParade-Plastic2Mercy;
			}
			&-PrettyPrettyGood {
				grid-area: gangParade-PrettyPrettyGood;
			}
			&-BeyondTheMountain {
				grid-area: gangParade-BeyondTheMountain;
			}
			&-LoveCommunication {
				grid-area: gangParade-LoveCommunication;
			}
		}
		#bis3 {
			&-Texto {
				grid-area: bis3-Texto;
			}
			&-SmokinBilly {
				grid-area: bis3-SmokinBilly;
			}
			&-Tsuyogarisan {
				grid-area: bis3-Tsuyogarisan;
			}
		}
		#bish {
			&-Texto {
				grid-area: bish-Texto;
			}
			&-Otnk {
				grid-area: bish-Otnk;
			}
			&-Tomorrow {
				grid-area: bish-Tomorrow;
			}
		}
	}
}
/* REGLAS @MEDIA - a max-width (upper breakpoint), sumar 1px para que al inspeccionar la página en modo Responsive, no haya "px sin cubrir" ("tierra de nadie", le digo yo) por los @media queries al ajustar el tamaño de la pantalla */
/* MOBILE - upper breakpoint: 428px (iPhone 12/13 Pro Max) - */
@media only screen and (width <= 429px) {
	/* Abreviación de @media only screen and (max-width: 429px) { */
	/* PORTADA - wack.html */
	.portadaWack {
		&-Icono {
			width: 100%;
		}
	}
	/* MAIN - wack.html */
	.mainWack {
		&-Articulo--Grupos {
			&---Titulo {
				text-align: center;
			}
			p {
				margin-top: 12.5%;
			}
			iframe {
				height: calc(50px + 50vw);
				margin: 1vw 0;
			}
			margin: 10vw 0;
			grid-template-areas:
				"titulo"
				"asp-Texto"
				"asp-ToxicInvasion"
				"asp-TheManCalling"
				"exwhyz-Texto"
				"exwhyz-Iza"
				"exwhyz-FurachinaSummer"
				"gangParade-Texto"
				"gangParade-Plastic2Mercy"
				"gangParade-PrettyPrettyGood"
				"gangParade-BeyondTheMountain"
				"gangParade-LoveCommunication"
				"bis3-Texto"
				"bis3-SmokinBilly"
				"bis3-Tsuyogarisan"
				"bish-Texto"
				"bish-Otnk"
				"bish-Tomorrow";
		}
	}
}

/* TABLET - upper breakpoint: 834px (iPad Pro, versión de 11 pulgadas) - */
@media only screen and (430px <= width <= 835px) {
	/* Abreviación de @media only screen and (min-width: 430px) and (max-width: 835px) { */
	/* PORTADA - wack.html */
	.portadaWack {
		&-Icono {
			width: 75%;
		}
	}
	/* MAIN - wack.html */
	.mainWack {
		&-Articulo--Grupos {
			p {
				margin-top: 4%;
			}
			iframe {
				height: 25vw;
			}
			margin: 7.5vw 0;
			gap: 5px;
			grid-template-areas:
				"titulo												titulo"
				"asp-Texto										asp-Texto"
				"asp-ToxicInvasion						asp-TheManCalling"
				"exwhyz-Texto									exwhyz-Texto"
				"exwhyz-Iza										exwhyz-FurachinaSummer"
				"gangParade-Texto							gangParade-Texto"
				"gangParade-Plastic2Mercy			gangParade-PrettyPrettyGood"
				"gangParade-BeyondTheMountain	gangParade-LoveCommunication"
				"bis3-Texto										bis3-Texto"
				"bis3-SmokinBilly							bis3-Tsuyogarisan"
				"bish-Texto										bish-Texto"
				"bish-Otnk										bish-Tomorrow";
		}
	}
}

/* DESKTOP */
@media only screen and (836px <= width) {
	/* Abreviación de @media only screen and (min-width:836px) { */
	/* PORTADA - wack.html */
	.portadaWack {
		&-Icono {
			width: 50%;
		}
	}
	/* MAIN - wack.html */
	.mainWack {
		&-Articulo--Grupos {
			p {
				margin-top: 4%;
			}
			// Lo siguiente fue sólo para practicar Sass mientras veía las clases pregrabadas. El código original es 'iframe {height: 25vw}'.
			@for $i from 11 through 11 {
				iframe {
					height: 14vw + $i;
				}
			}
			margin: 5vw 0;
			gap: 5px;
			grid-template-areas:
				"titulo												titulo"
				"asp-Texto										asp-Texto"
				"asp-ToxicInvasion						asp-TheManCalling"
				"exwhyz-Texto									exwhyz-Texto"
				"exwhyz-Iza										exwhyz-FurachinaSummer"
				"gangParade-Texto							gangParade-Texto"
				"gangParade-Plastic2Mercy			gangParade-PrettyPrettyGood"
				"gangParade-BeyondTheMountain	gangParade-LoveCommunication"
				"bis3-Texto										bis3-Texto"
				"bis3-SmokinBilly							bis3-Tsuyogarisan"
				"bish-Texto										bish-Texto"
				"bish-Otnk										bish-Tomorrow";
		}
	}
}
