/* MAIN - wack.html */
.mainWack-Articulo--Grupos {
	display: grid;
	grid-template-areas:
		"titulo"
		"asp"
		"exwhyz"
		"gang-parade"
		"bis3"
		"bish";
	&---Titulo {
		grid-area: titulo;
	}
	// CADA GRUPO DE WACK:
	#cinco-grupos-de-wack {
		&_asp {
			grid-area: asp;
		}
		&_exwhyz {
			grid-area: exwhyz;
		}
		&_gang-parade {
			grid-area: gang-parade;
		}
		&_bis3 {
			grid-area: bis3;
		}
		&_bish {
			grid-area: bish;
		}
	}
	// LOS 5 CONTENEDORES DE IFRAMES (1 contenedor por grupo de WACK):
	&---VideoFlexBoxes {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		row-gap: 1vw;
	}
}

/* REGLAS @MEDIA */
/* MOBILE - upper breakpoint: 575.98px, breakpoint 'sm' de Bootstrap (originalmente 428px, ancho de pantalla de iPhone 12/13 Pro Max) - */
@media only screen and (width <= 575.98px) {
	/* Abreviaci贸n de @media only screen and (max-width: 575.98px) { */
	/* PORTADA - wack.html */
	.portadaWack-Icono {
		width: 100%;
	}

	/* MAIN - wack.html */
	.mainWack-Articulo--Grupos {
		@include marginY(4.5vw, 9vw);
		iframe {
			height: calc(50px + 50vw);
			width: 100%;
		}
	}
}

/* TABLET - upper breakpoint: 834.98px (iPad Pro, versi贸n de 11 pulgadas) - */
@media only screen and (575.98px <= width <= 834.98px) {
	/* Abreviaci贸n de @media only screen and (min-width: 575.98px) and (max-width: 834.98px) { */
	/* PORTADA - wack.html */
	.portadaWack-Icono {
		width: 75%;
	}

	/* MAIN - wack.html */
	.mainWack-Articulo--Grupos {
		@include marginY(6vw);
		iframe {
			height: 25vw;
			width: 43vw;
		}
	}
}

/* DESKTOP */
@media only screen and (834.98px <= width) {
	/* Abreviaci贸n de @media only screen and (min-width: 834.98px) { */
	/* PORTADA - wack.html */
	.portadaWack-Icono {
		width: 50%;
	}

	/* MAIN - wack.html */
	.mainWack-Articulo--Grupos {
		@include marginY(3vw);
		iframe {
			height: 25vw;
			width: 43vw;
		}
	}
}
