// Aquí hay pocos estilos, porque para esta página los hice casi todos con clases de Bootstrap.
/* PORTADA - otrosGrupos.html */
.portadaOtrosGrupos {
	margin: 0 auto;
	img {
		padding: 0;
	}
}
/* MAIN - otrosGrupos.html */
.mainOtrosGrupos {
	&-Titulo {
		text-align: center;
	}
	&-VideoFlexBox {
		margin: 1vw 0;
		flex-wrap: wrap;
	}
}

/* REGLAS @MEDIA */
/* MOBILE - upper breakpoint: 575.98px, breakpoint 'sm' de Bootstrap (originalmente 428px, ancho de pantalla de iPhone 12/13 Pro Max) - */
@media only screen and (width <= 575.98px) {
	/* Abreviación de @media only screen and (max-width: 575.98px) { */
	/* PORTADA - otrosGrupos.html */
	.portadaOtrosGrupos {
		width: 100%;
	}
	/* MAIN - otrosGrupos.html */
	.mainOtrosGrupos {
		&-VideoFlexBox iframe {
			height: calc(50px + 50vw);
			margin: 1vw 0;
			width: 100%;
		}
	}
}

/* TABLET - upper breakpoint: 834.98px (iPad Pro, versión de 11 pulgadas) - */
@media only screen and (575.98px <= width <= 834.98px) {
	/* Abreviación de @media only screen and (min-width: 575.98px) and (max-width: 834.98px) { */
	/* PORTADA - otrosGrupos.html */
	.portadaOtrosGrupos {
		width: 75%;
	}
	/* MAIN - otrosGrupos.html */
	.mainOtrosGrupos {
		&-VideoFlexBox iframe {
			height: 25vw;
			margin: 1vw 0;
			width: 50%;
		}
	}
}

/* DESKTOP */
@media only screen and (834.98px <= width) {
	/* Abreviación de @media only screen and (min-width: 834.98px) { */
	/* PORTADA - otrosGrupos.html */
	.portadaOtrosGrupos {
		width: 50%;
	}
	/* MAIN - otrosGrupos.html */
	.mainOtrosGrupos {
		&-VideoFlexBox iframe {
			height: 25vw;
			margin: 1vw 0;
			width: 50%;
		}
	}
}
