@use "../reset" as G;

/* PORTADA - otrosGrupos.html */
.portada-OtrosGrupos {
	margin: 0 auto;
}
.portada-OtrosGrupos img {
	padding: 0;
}
/* MAIN - otrosGrupos.html */
.mainOtrosGrupos-Titulo {
	text-align: center;
}
.mainOtrosGrupos-Iframes {
	margin: 1vw 0;
}