/* PORTADA - quiz.html */
.portadaQuiz-Icono {
	filter: invert(1);
}
/* MAIN - quiz.html */
legend {
	font-size: calc(0.7rem + 1vw);
}
.mainQuiz-BotonContenedor {
	display: flex;
	justify-content: center;
	margin: 25px 0;
}
/* Respuesta correcta: nueva imagen */
.form-select.is-valid:not([multiple]):not([size]),
.form-select.is-valid:not([multiple])[size="1"],
.was-validated .form-select:valid:not([multiple]):not([size]),
.was-validated .form-select:valid:not([multiple])[size="1"],
.form-control.is-valid,
.was-validated .form-control:valid {
	background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="%2375b798" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>');
}
/* Respuesta incorrecta: nueva imagen */
.form-select.is-invalid:not([multiple]):not([size]),
.form-select.is-invalid:not([multiple])[size="1"],
.was-validated .form-select:invalid:not([multiple]):not([size]),
.was-validated .form-select:invalid:not([multiple])[size="1"],
.form-control.is-invalid,
.was-validated .form-control:invalid {
	background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="%23ea868f" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M10.29 3.86L1.82 18a2 2 0 0 0 1.71 3h16.94a2 2 0 0 0 1.71-3L13.71 3.86a2 2 0 0 0-3.42 0z"></path><line x1="12" y1="9" x2="12" y2="13"></line><line x1="12" y1="17" x2="12.01" y2="17"></line></svg>');
}
#submit {
	padding: 5%;
	background-color: $purple;
	color: white;
	font-family: "Courier New", Courier, monospace;
	font-weight: bold;
	transition: 0.25s ease-in-out;
}
#submit:hover {
	color: black;
	font-size: 1.5em;
	transition: 0.25s ease-in-out;
}
